.icon {
	display: inline-block;
	shape-rendering: geometricPrecision;

	/*
	We use unitless line-height values, which are multiplied
	by the element's font size to get the box's height.

	Note that we can't use `em` for line-height itself because
	that would use the parent's font-size when calculating the
	children's line-height.

	The icon's box height (1.5em) = line-height (1.5) * font-size (1em)
	*/
	height: 1.5em;
	height: 1lh;
	width: 1.5em;
	width: 1lh;

	vertical-align: bottom;
}
